= link_to "Lfee Remplacements", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to(t('devise.sessions.destroy.sign_out'), destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to(t('devise.sessions.new.sign_in'), new_user_session_path)
  - if user_signed_in?
    %li
      = link_to(t('devise.registrations.user.edit'), edit_user_registration_path)
  - if current_user && (current_user.has_role?(:admin))
    %li
      = link_to('Admin', '#')
  - if current_user.nil?
    %li
      = link_to(t('devise.registrations.new.sign_up'), new_user_registration_path)
